.page {
  width: 65em;
}

.pageheader {
  height: 220px;
}

.gallery .pageheader {
  height: 145px;
}

.pageheader ul li {
  width: 49%;
  min-width: 49%;
}

.page * {
  background-image: none;
}

.pageheader a {
  background-image: none;
  background-color: #572816;
}

